.row
  width: 640px
  margin: 0 auto

.col-1
  padding: 0px 10px
  float: left
  width: 320px

@media (max-width: 640px)
  .row
    width: 100%
    margin: 0

  .col-1
    width: auto
    float: none
    padding: 0px 40px

    p
      font-size: 12px





.text-align-center
  text-align: center
