section
  position: relative
  color: white
  overflow: hidden
  margin-bottom: 25px

.section-content
  position: relative
  margin: 5px 25px 0px 25px

.year
  position: absolute
  h3
    margin: 0
    padding: 0
    font:
      family: 'League Spartan'
      size: 150px

.fact
  position: absolute
  p
    font:
      size: 26px
      family: futura-lt-bold, helvetica, sans-serif
      style: oblique
      weight: normal



.tagline
  text-transform: uppercase
  color: white

  h2
    font:
      family: futura-lt-bold, Futura, helvetica, sans-serif
      size: 36px
      weight: normal
      style: oblique
