section.section-1950

  .section-content
    height: 620px

    .year
      top: -15px
      right: -8px
      z-index: 10

    .fact
      right: 10px
      top: 120px
      width: 330px

    .bg
      width: 480px
      height: 600px
      background:
        image: url(../img/bg-1950.jpg)
        size: cover
      border: 7px solid white
      position: absolute
      bottom: 80px
      left: 25px

    .figure
      width: 600px
      height: 600px
      background:
        image: url(../img/figure-1950.png)
        size: contain
        repeat: no-repeat
      position: absolute
      bottom: 330px
      left: -2px

    .tagline
      display: none
      position: absolute
      bottom: 30%
      left: 10%
      width: 420px

      h2
        line-height: 1.2

        span.line1
          display: inline-block
          margin-bottom: 5px
          padding: 0 10px 0 20px

        span.line2
          display: inline-block
          margin-bottom: 5px
          margin-left: 215px
          padding: 0 10px 0 10px


        span.line3
          display: inline-block
          margin-left: 190px
          padding: 0 8px 0 8px
