section.section-1911


  .section-content
    height: 500px

    .year
      top: -15px
      right: 6px

    .bg
      width: 700px
      height: 350px
      background:
        image: url(../img/bg-1911.jpg)
        size: cover
      border: 7px solid white
      position: absolute
      bottom: 0
      left: 25px

    .figure
      width: 770px
      height: 600px
      background:
        image: url(../img/figure-1911.png)
        size: contain
        repeat: no-repeat
      position: absolute
      bottom: -100px
      left: -10px

    .tagline
      position: absolute
      bottom: 20px
      left: 90px
      width: 420px

      h2
        line-height: 1.2

        span.line1
          display: inline-block
          margin-bottom: 5px
          padding: 0 10px 0 20px

        span.line2
          display: inline-block
          margin-bottom: 5px
          margin-left: 145px
          padding: 0 10px 0 10px
