section.section-1963

  .section-content
    height: 550px

    .year
      bottom: -55px
      left: -10px
      z-index: 10

    .bg
      width: 650px
      height: 630px
      background:
        image: url(../img/bg-1963.jpg)
        size: cover
      border: 7px solid white
      position: absolute
      bottom: 0px
      right: 25px

    .figure
      width: 700px
      height: 380px
      background:
        image: url(../img/figure-1963.png)
        size: contain
        repeat: no-repeat
      position: absolute
      bottom: 260px
      right: -15px


    .tagline
      position: absolute
      top: 50px
      right: -100px
      width: 490px

      h2
        line-height: 1.2

        span.line1
          display: inline-block
          margin-bottom: 5px
          padding: 0 20px 0 15px

        span.line2
          display: inline-block
          margin-bottom: 5px
          margin-left: 5px
          padding: 0 20px 0 15px

        span.line3
          display: inline-block
          margin-bottom: 5px
          margin-left: 170px
          padding: 0 25px 0 15px
