section.section-1945

  .section-content
    height: 45rem
    @media (min-width: 900px)
      height: 60rem

    .year
      top: -1.1rem
      left: -.5rem
      @media (min-width: 1200px)
        top: -1.4rem
        left: -1.3rem

    .fact
      left: 1em
      @media (min-width: 700px)
        left: 1.3em
        width: 25rem
        @media (min-width: 1200px)
          width: 50rem

    .bg
      width: 24rem
      height: 30rem
      background:
        image: url(../img/bg-1945.jpg)
        size: cover
      border: 7px solid white
      position: absolute
      bottom: -1rem
      right: 50%
      margin-right: -120px
      @media (min-width: 350px)
        width: 30rem
        height: 34
        right: 1rem
        margin-right: 0
        @media (min-width: 700px)
          width: 38rem
          height: 29rem
          @media (min-width: 900px)
            right: 3rem
            width: 54rem
            height: 50rem


    .figure
      width: 37rem
      height: 30rem
      background:
        image: url(../img/figure-1945.png)
        size: contain
        repeat: no-repeat
      position: absolute
      bottom: -1rem
      right: -2rem
      @media (min-width: 700px)
        width: 48rem
        height: 40rem
        @media (min-width: 900px)
          width: 68rem
          height: 60rem

    .tagline
      height: 4.5rem
      width: 40rem
      left: 3em
      bottom: 1.3em
      span.line2
        margin-left: .2em
      @media (min-width: 700px)
        width: 41rem
        bottom: 5em
        right: 3em
        @media (min-width: 900px)
          width: 54rem
          bottom: 10em
