section.section-1936

  .section-content
    height: 550px

    .year
      bottom: -55px
      right: -10px
      z-index: 10

    .bg
      width: 720px
      height: 550px
      background:
        image: url(../img/bg-1936.jpg)
        size: cover
      border: 7px solid white
      position: absolute
      bottom: 0px
      left: 25px

    .figure
      width: 780px
      height: 600px
      background:
        image: url(../img/figure-1936.png)
        size: contain
        repeat: no-repeat
      position: absolute
      bottom: 90px
      left: 10px


    .tagline
      position: absolute
      bottom: 0px
      left: 20px
      width: 500px

      h2
        line-height: 1.2

        span.line1
          display: inline-block
          margin-bottom: 5px
          padding: 0 10px 0 20px

        span.line2
          display: inline-block
          margin-bottom: 5px
          margin-left: 20px
          padding: 0 10px 0 10px
