language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
install: "pip install -R requirements.txt"
script: python app/register_tests.py
env:
  - APP_SECRET=sooperdoopersecret
