doctype html
html
  head
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(content='text/html', charset='utf-8', http-equiv='Content-Type')
    meta(name='viewport', content='width=device-width', initial-scale='1')
    
    title Get With The Times
    
    link(rel='stylesheet', href='assets/css/main.css')
    
  body
    include includes/header.jade
    
    div(style="height: 2000px") 
      p You probably haven't heard of them letterpress gastropub williamsburg, fanny pack trust fund semiotics small batch heirloom neutra. Shoreditch roof party normcore tote bag synth. Polaroid whatever tumblr, put a bird on it listicle gluten-free keffiyeh shoreditch chambray chartreuse wayfarers disrupt bushwick. Umami small batch meh drinking vinegar, tumblr roof party gluten-free hella offal normcore salvia aesthetic. Heirloom fingerstache blog schlitz YOLO. Scenester butcher four loko typewriter. Pop-up fingerstache 3 wolf moon humblebrag, sartorial deep v forage synth photo booth normcore etsy godard hammock. 
      p Health goth artisan gentrify, fap ethical four loko whatever before they sold out biodiesel narwhal. Keffiyeh listicle vinyl farm-to-table trust fund. Normcore cred etsy tattooed, heirloom tilde man bun VHS cronut shabby chic pinterest sartorial health goth. Intelligentsia wayfarers skateboard, celiac stumptown mixtape yuccie mustache. Chambray offal artisan, XOXO man braid cred kogi truffaut slow-carb literally DIY synth celiac banjo yuccie. IPhone helvetica ennui yr art party gastropub. Keytar beard waistcoat pinterest, dreamcatcher etsy pickled vice sriracha readymade forage vegan blue bottle. 
      p Farm-to-table crucifix XOXO cray. Sustainable 8-bit quinoa DIY. Everyday carry food truck vegan letterpress, portland keffiyeh franzen pour-over. Plaid fixie paleo salvia, photo booth schlitz williamsburg echo park forage direct trade keffiyeh. Forage meh mumblecore echo park. Williamsburg slow-carb normcore vice, austin kinfolk bitters seitan. Next level bespoke knausgaard cronut. 
      p Echo park cray mumblecore occupy, franzen cronut scenester kale chips twee shabby chic single-origin coffee truffaut chambray meggings. Chia hella dreamcatcher, wolf ethical helvetica drinking vinegar. Blog ennui raw denim yr deep v, try-hard selfies hella shabby chic skateboard mlkshk. Tacos flannel ethical bitters banjo plaid. Pork belly sustainable venmo plaid polaroid pour-over. Tilde plaid banjo craft beer man braid ramps. Pinterest organic venmo godard.
    
    script(src="/assets/js/jquery-2.2.1.min.js")
    script(src="/assets/js/functions.js")
