*
  box-sizing: border-box
  +transition

html, html a
  -webkit-font-smoothing: antialiased
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
  overflow-x: hidden

a
  text-decoration: none

p
  font:
    family: futura-lt-bold, futura, helvetica, sans-serif

button
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  border: none
  background: none
  outline: none

.emphasis
  font-weight: bold

.shadow-lg
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1)
