footer.site-footer

  .lockup

    .container
      
      .row
        h3.headline-cta sign the petition to support the FAMILY act.
      
      include form

      .row
        .col-6
          .logo
            h1
              span.get.bg-orange Get With The Times,
              span.america.bg-orange America.
          
        
        .col-6
          .copyright
            p © 2016 Get With The Times
