footer.site-footer

  .lockup

    .footer-content__container
      
      .row-wide
        h2.cta sign the petition to support the FAMILY act.
      
      form.awesome-form.row-wide
        .input-group
          input(type="text")
          label your first name
        .input-group
          input(type="text")
          label your last name
        .input-group
          input(type="email")
          label your email address
        .input-group
          input(type="text")
          label your zip code
      
      .row-wide    
        input.cta(type="submit")


      .row-wide
        .col-2
          .logo
            h1
              span.get.bg-orange Get With The Times,
              span.america.bg-orange America.
          
        
        .col-2
          .copyright
            p © 2016 Get With The Times
