form.awesome-form.row
  .input-group
    input(type="text")
    label your first name
  .input-group
    input(type="text")
    label your last name
  .input-group
    input(type="email")
    label your email address
  .input-group
    input(type="text")
    label your zip code

  .row    
    input(type="submit")
