form.awesome-form.row(method="post" action="/register")
  .input-group
    input(type="text" name="firstName")
    label your first name
  .input-group
    input(type="text" name="lastName")
    label your last name
  .input-group
    input(type="email" name="emailAddress")
    label your email address
  .input-group
    input(type="text" name="zipCode")
    label your zip code

  .row    
    input(type="submit")
