header.bg-blue

  video(poster="" autoplay loop)
    source(src="../static/img/home-video.mp4" type="video/mp4")
    source(src="../static/img/home-video.webm" type="video/webm")
  
  .bg-overlay
  
  .container.color-white
    
    .nav-ghost(style="height: 80px")
    
    .row
      |{% with messages = get_flashed_messages() %}
      |{% if messages %}
      h2.headline {{messages[0]}} Thank you for your support!
      |{% else %}
      h2.headline Thank you for your support!
      |{% endif %}
      |{% endwith %}
      h3.headline-cta Now spread the word
      
    .row
    
      a.cta-primary(href="https://www.facebook.com/sharer/sharer.php?u=getwiththetimes.us") share on facebook
      
      span and
      
      a.cta-primary(href="http://twitter.com/share?url=http%3A%2F%2Fgetwiththetimes.us&text=Take%20a%20stand%20for%20working%20families.%20Support%20the%20FAMILY%20act!%20&via=usa_paid_leave&hashtags=getwiththetimesamerica") tweet  
