header.bg-blue

  video(poster="" autoplay loop)
    source(src="../static/img/home-video.mp4" type="video/mp4")
    source(src="../static/img/home-video.webm" type="video/webm")
  
  .bg-overlay
  
  .container.color-white
    
    .nav-ghost(style="height: 80px")
    
    .row
    
      h2.headline Take a stand for working families.
      h3.headline-cta Support the FAMILY Act.
      
      
    .row
    
      button.cta-primary sign the petition now
      
      span or
      
      button.cta-primary learn more
