header.bg-blue
  
  .container  
    .logo
      h1
        span.get.bg-orange.shadow-lg Get With the Times,
        span.america.bg-orange.shadow-lg America.
      
    .row 
      .col-1.color-white
        p The United States of America is way behind the rest of the world in providing paid family leave to it’s citizens. In fact, the USA is the only industrialized nation in the world that does not.
      
      .col-1.color-white
        p The FAMILY Act can change this by providing workers with 12 weeks of paid leave. It’s up to <span class="emphasis">us</span> to convince Congress that this bill is necessary for families, businesses, and the economy.
        
    #scrollDown.row.color-white.text-align-center
      a(href="#scrollDown").color-white
        p not convinced?<br>scroll down
        span.ion-chevron-down

header.global-nav

  
  
  .container  
    .logo
      h1
        span.get.bg-orange Get With the Times,
        span.america.bg-orange America.
        
    button.cta sign the petition
      
.sticky-wrapper
