nav.nav-primary
  .container  
    .logo
      h1
        span.get.bg-orange Get With the Times,
        span.america.bg-orange America.
        
    a.cta-secondary(href="#petition") sign the petition
    
    
