section.section-1936#in1936
  .section-content.bg-yellow
    .year
      h4 <span>1</span><span>9</span><span>3</span><span>6</span>
    
    .fact
      p Turkey enacts a law banning pregnant women from working three weeks before and after delivery, with all leave compensated at 50% of earnings.
    
    .bg.shadow-lg
    
    .figure
    
    //- .tagline
    //-   h2
    //-     span.line1.bg-pink.shadow-lg Strong families are
    //-     span.line2.bg-pink.shadow-lg Everyone's business.
