section.section-1963#in1963
  .section-content.bg-blue
    .year
      h4 <span>1</span><span>9</span><span>6</span><span>3</span>
    
    .fact
      p Finland introduces two months of maternity leave in Act 364/1963; three weeks before and six weeks after childbirth.
    
    .bg.shadow-lg
    
    .figure
    
    .tagline
      h2
        span.line1.bg-orange.shadow-lg Make America
        span.line2.bg-orange.shadow-lg Family friendly
        span.line3.bg-orange.shadow-lg Again.
