section.section-1987
  .section-content.bg-orange
    .year
      h3 <span>1</span><span>9</span><span>8</span><span>7</span>
    
    .bg.shadow-lg
    
    .figure
    
    //- .tagline
    //-   h2
    //-     span.line1.bg-blue.shadow-lg Paid family leave
    //-     span.line2.bg-blue.shadow-lg is long overdue,
    //-     span.line3.bg-blue.shadow-lg America.
