section.section-1936
  .section-content.bg-yellow
    .year
      h3 <span>1</span><span>9</span><span>3</span><span>6</span>
    
    .bg.shadow-lg
    
    .figure
    
    .tagline
      h2
        span.line1.bg-pink.shadow-lg Strong families are
        span.line2.bg-pink.shadow-lg Everyone's business.
