section.section-1909#timeline

  .section-content.bg-orange
    .year
      h4 <span>1</span><span>9</span><span>0</span><span>9</span>
      
    .fact
      p Norway passes legislation for paid leave.
    
    .bg.shadow-lg
    
    .figure
    
    .tagline
      h2
        span.line1.bg-blue Paid family leave
        span.line2.bg-blue is long overdue,
        span.line3.bg-blue America.
