section.section-1963
  .section-content.bg-blue
    .year
      h3 <span>1</span><span>9</span><span>6</span><span>3</span>
    
    .bg.shadow-lg
    
    .figure
    
    .tagline
      h2
        span.line1.bg-orange.shadow-lg Make America
        span.line2.bg-orange.shadow-lg Family friendly
        span.line3.bg-orange.shadow-lg Again.
