section.section-1987#in1987
  .section-content.bg-orange
    .year
      h4 <span>1</span><span>9</span><span>8</span><span>7</span>
    
    .fact
      p South Korea passes 60 day long, employment-protected, fully paid, and mandatory maternity leave. Unpaid parental leave till the child’s first birthday is also offered.
    
    .bg.shadow-lg
    
    .figure
    
    .tagline
      h2
        span.line1.bg-blue It's about time,
        span.line2.bg-blue America.
