section.section-1975#in1975
  .section-content.bg-yellow
    .year
      h4 <span>1</span><span>9</span><span>7</span><span>5</span>
  
    .fact
      p Iceland introduces three months leave for all working mothers following childbirth. The payment is equal to the unemployment benefit.
    
    .bg.shadow-lg
    
    .figure
    
    .tagline
      h2
        span.line1.bg-pink.shadow-lg Strong families are
        span.line2.bg-pink.shadow-lg Everyone's business.
