section.section-1950#in1950
  .section-content.bg-pink
    .year
      h4 <span>1</span><span>9</span><span>5</span><span>0</span>
    
    .fact
      p Italy enacts mandatory job-protected leave for mothers at 80% of earnings. Unpaid job-protected leave also became available to women for 6 months after the mandatory period.
    
    .bg.shadow-lg
    
    .figure
    
    //- .tagline
    //-   h2
    //-     span.line1.bg-yellow.shadow-lg Change the times,
    //-     span.line2.bg-yellow.shadow-lg America.
