section.section-2016-2.gallery-cell
  .section-content.bg-orange
    .year
      h4 <span>2</span><span>0</span><span>1</span><span>6</span>
    
    .fact
      p  Only California, New Jersey, & Rhode Island have implemented laws for paid leave.<br><br> It has actually improved their economies.
      
    .bg
