section.section-2016-3.gallery-cell
  .section-content.bg-yellow
    .year
      h4 <span>2</span><span>0</span><span>1</span><span>6</span>
    
    .fact
      p  88% of women in the U.S. are ineligible for <strong>unpaid</strong> leave under the current Family and Medical Leave Act.

    .bg
