section.section-2016-1.gallery-cell
  .section-content.bg-blue
    .year
      h4 <span>2</span><span>0</span><span>1</span><span>6</span>
    
    .fact
      p  The United States is the only industrialized nation that <strong>does not</strong> provide <strong>paid</strong> leave. <br><br> Along with Papua New Guinea.
      
    .bg
