section.section-1911#in1911
  .section-content.bg-pink
    .year
      h4 <span>1</span><span>9</span><span>1</span><span>1</span>
    .fact
      p Germany amends laws to provide two weeks of paid maternity leave before delivery. Women were also banned from working three weeks before birth.
      
    .bg.shadow-lg
    
    .figure
    
    //- .tagline
    //-   h2
    //-     span.line1.bg-yellow It's about time,
    //-     span.line2.bg-yellow America.
