<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="text/html" charset="utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <title>Get With The Times</title>
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <nav role="banner" class="nav-primary">
      <div class="container"> 
        <div class="logo">
          <h1><span class="get bg-orange">Get With the Times,</span><span class="america bg-orange">America.</span></h1>
        </div><a href="#petition" class="cta-secondary">sign the petition</a>
      </div>
    </nav>
    <nav class="nav-secondary">
      <div class="container"> 
        <div class="years"><a id="year1" href="#timeline">1909</a><a id="year2" href="#in1911">1911</a><a id="year3" href="#in1925">1925</a><a id="year4" href="#in1936">1936</a><a id="year5" href="#in1945">1945</a><a id="year6" href="#in1950">1950</a><a id="year7" href="#in1963">1963</a><a id="year8" href="#in1975">1975</a><a id="year9" href="#in1987">1987</a><a id="year10" href="#in2016">2016</a>
        </div>
      </div>
    </nav>
    <header class="bg-blue">
      <video poster="" autoplay loop>
        <source src="../static/img/home-video.mp4" type="video/mp4">
        <source src="../static/img/home-video.webm" type="video/webm">
      </video>
      <div class="bg-overlay"></div>
      <div class="container color-white">
        <div style="height: 80px" class="nav-ghost"></div>{% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="row">
          <h2 class="headline">{{messages[0]}} Thank you for your support!</h2>
          <h3 class="headline-cta">Now spread the word</h3>
        </div>{% endif %}
        {% endwith %}
        <div class="row"><a href="https://www.facebook.com/sharer/sharer.php?u=getwiththetimes.us" class="cta-primary">share on facebook</a><span>and</span><a href="http://twitter.com/share?url=http%3A%2F%2Fgetwiththetimes.us&amp;text=Take%20a%20stand%20for%20working%20families.%20Support%20the%20FAMILY%20act!%20&amp;via=usa_paid_leave&amp;hashtags=getwiththetimesamerica" class="cta-primary">tweet  </a></div>
      </div>
    </header>
    <section id="timeline" class="section-1909">
      <div class="section-content bg-orange">
        <div class="year">
          <h4><span>1</span><span>9</span><span>0</span><span>9</span></h4>
        </div>
        <div class="fact">
          <p>Norway becomes the first country to provide paid maternity leave with 12 weeks total, six of which were mandatory after childbirth.</p>
        </div>
        <div class="bg shadow-lg"></div>
        <div class="figure"></div>
        <div class="tagline">
          <h2><span class="line1 bg-blue">Paid family leave</span><span class="line2 bg-blue">is long overdue,</span><span class="line3 bg-blue">America.</span></h2>
        </div>
      </div>
    </section>
    <section id="in1911" class="section-1911">
      <div class="section-content bg-pink">
        <div class="year">
          <h4><span>1</span><span>9</span><span>1</span><span>1</span></h4>
        </div>
        <div class="fact">
          <p>Germany amends laws to provide two weeks of paid maternity leave before delivery. Women were also banned from working three weeks before birth.</p>
        </div>
        <div class="bg shadow-lg"></div>
        <div class="figure"></div>
      </div>
    </section>
    <section id="in1925" class="section-1925">
      <div class="section-content bg-blue">
        <div class="year">
          <h4><span>1</span><span>9</span><span>2</span><span>5</span></h4>
        </div>
        <div class="fact">
          <p>Chile writes 12 weeks of paid family leave into law. The unpaid leave period was also increased to six weeks</p>
        </div>
        <div class="bg shadow-lg"></div>
        <div class="figure"></div>
        <div class="tagline">
          <h2><span class="line1 bg-orange shadow-lg">Change the times,</span><span class="line2 bg-orange shadow-lg">America.</span></h2>
        </div>
      </div>
    </section>
    <section id="in1936" class="section-1936">
      <div class="section-content bg-yellow">
        <div class="year">
          <h4><span>1</span><span>9</span><span>3</span><span>6</span></h4>
        </div>
        <div class="fact">
          <p>Turkey enacts a law banning pregnant women from working three weeks before and after delivery, with all leave compensated at 50% of earnings.</p>
        </div>
        <div class="bg shadow-lg"></div>
        <div class="figure"></div>
      </div>
    </section>
    <section id="in1945" class="section-1945">
      <div class="section-content bg-orange">
        <div class="year">
          <h4><span>1</span><span>9</span><span>4</span><span>5</span></h4>
        </div>
        <div class="fact">
          <p>France passes a law granting 14 weeks of maternity leave paid at 50% of earnings.</p>
        </div>
        <div class="bg shadow-lg"></div>
        <div class="figure"></div>
        <div class="tagline">
          <h2><span class="line1 bg-blue shadow-lg">Strong families are</span><span class="line2 bg-blue shadow-lg">Everyone's business.</span></h2>
        </div>
      </div>
    </section>
    <section id="in1950" class="section-1950">
      <div class="section-content bg-pink">
        <div class="year">
          <h4><span>1</span><span>9</span><span>5</span><span>0</span></h4>
        </div>
        <div class="fact">
          <p>Italy enacts mandatory job-protected leave for mothers at 80% of earnings. Unpaid job-protected leave also became available to women for 6 months after the mandatory period.</p>
        </div>
        <div class="bg shadow-lg"></div>
        <div class="figure"></div>
      </div>
    </section>
    <section id="in1963" class="section-1963">
      <div class="section-content bg-blue">
        <div class="year">
          <h4><span>1</span><span>9</span><span>6</span><span>3</span></h4>
        </div>
        <div class="fact">
          <p>Finland introduces two months of maternity leave in Act 364/1963; three weeks before and six weeks after childbirth.</p>
        </div>
        <div class="bg shadow-lg"></div>
        <div class="figure"></div>
        <div class="tagline">
          <h2><span class="line1 bg-orange shadow-lg">Make America</span><span class="line2 bg-orange shadow-lg">Family friendly</span><span class="line3 bg-orange shadow-lg">Again.</span></h2>
        </div>
      </div>
    </section>
    <section id="in1975" class="section-1975">
      <div class="section-content bg-yellow">
        <div class="year">
          <h4><span>1</span><span>9</span><span>7</span><span>5</span></h4>
        </div>
        <div class="fact">
          <p>Iceland introduces three months leave for all working mothers following childbirth. The payment is equal to the unemployment benefit.</p>
        </div>
        <div class="bg shadow-lg"></div>
        <div class="figure"></div>
        <div class="tagline">
          <h2><span class="line1 bg-pink shadow-lg">Strong families are</span><span class="line2 bg-pink shadow-lg">Everyone's business.</span></h2>
        </div>
      </div>
    </section>
    <section id="in1987" class="section-1987">
      <div class="section-content bg-orange">
        <div class="year">
          <h4><span>1</span><span>9</span><span>8</span><span>7</span></h4>
        </div>
        <div class="fact">
          <p>South Korea passes 60 day long, employment-protected, fully paid, and mandatory maternity leave. Unpaid parental leave till the child’s first birthday is also offered.</p>
        </div>
        <div class="bg shadow-lg"></div>
        <div class="figure"></div>
        <div class="tagline">
          <h2><span class="line1 bg-blue">It's about time,</span><span class="line2 bg-blue">America.</span></h2>
        </div>
      </div>
    </section>
    <div id="in2016" data-flickity-options="{ &quot;wrapAround&quot;: true, &quot;prevNextButtons&quot;: false }" class="gallery js-flickity">
      <section class="section-2016-1 gallery-cell">
        <div class="section-content bg-blue">
          <div class="year">
            <h4><span>2</span><span>0</span><span>1</span><span>6</span></h4>
          </div>
          <div class="fact">
            <p> The United States is the only industrialized nation that <strong>does not</strong> provide <strong>paid</strong> leave. <br><br> Along with Papua New Guinea.</p>
          </div>
          <div class="bg"></div>
        </div>
      </section>
      <section class="section-2016-2 gallery-cell">
        <div class="section-content bg-orange">
          <div class="year">
            <h4><span>2</span><span>0</span><span>1</span><span>6</span></h4>
          </div>
          <div class="fact">
            <p> Only California, New Jersey, & Rhode Island have implemented laws for paid leave.<br><br> It has actually improved their economies.</p>
          </div>
          <div class="bg"></div>
        </div>
      </section>
      <section class="section-2016-3 gallery-cell">
        <div class="section-content bg-yellow">
          <div class="year">
            <h4><span>2</span><span>0</span><span>1</span><span>6</span></h4>
          </div>
          <div class="fact">
            <p> 88% of women in the U.S. are ineligible for <strong>unpaid</strong> leave under the current Family and Medical Leave Act.</p>
          </div>
          <div class="bg"></div>
        </div>
      </section>
    </div>
    <footer class="site-footer">
      <div class="lockup">
        <div class="container">
          <div class="row">
            <h3 class="headline-cta">sign the petition to support the FAMILY act.</h3>
          </div>
          <form id="petition" method="post" action="/register" class="awesome-form row">
            <div class="input-group">
              <input type="text" name="firstName" id="first">
              <label>your first name</label><span id="firstname_error-message" class="error-message"></span>
            </div>
            <div class="input-group">
              <input type="text" name="lastName" id="last">
              <label>your last name</label><span id="lastname_error-message" class="error-message"></span>
            </div>
            <div class="input-group">
              <input type="email" name="emailAddress" id="email">
              <label>your email address</label><span id="email_error-message" class="error-message"></span>
            </div>
            <div class="input-group">
              <input type="text" name="zipCode" id="zip">
              <label>your zip code</label><span id="zip_error-message" class="error-message"></span>
            </div>
            <div class="row">   
              <input type="submit">
            </div>
          </form>
          <div class="row">
            <div class="col-6">
              <div class="logo">
                <h1><span class="get bg-orange">Get With The Times,</span><span class="america bg-orange">America.</span></h1>
              </div>
            </div>
            <div class="col-6">
              <div class="copyright">
                <p>© 2016 Get With The Times</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../static/js/plugins/jquery-2.2.1.min.js"></script>
    <script src="../static/js/plugins/TweenMax.js"></script>
    <script src="../static/js/plugins/ScrollMagic.js"></script>
    <script src="../static/js/plugins/animation.gsap.js"></script>
    <script src="../static/js/plugins/debug.addIndicators.js"></script>
    <script src="../static/js/plugins/flickity.pkgd.min.js"></script>
    <script src="../static/js/plugins/ScrollToPlugin.min.js"></script>
    <script src="../static/js/functions.js"></script>
  </body>
</html>